{% extends "layout.html" %}

{% block content %}
<h3>Learning Center</h3>

<div class="card p-4">
  <h5 class="mb-3">Materi & Panduan</h5>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      📘 Panduan Penggunaan Dashboard
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      🎥 Video Tutorial Transaksi
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      📄 Dokumentasi Sistem Config & Setting
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      💡 Tips & Trik Mengelola Produk dan User
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
      ❓ Tanya Jawab Umum (Coming Soon)
    </a>
  </div>
</div>
{% endblock %}
